<!-- menu -->
<nav>
  <div style="position: absolute; right: 0;padding-top: 373px;">
    <img src="../../assets/menu (2).png" style="width: 35px;position: absolute;margin-left: 13px;">
  </div>
  <div>
    <img
      src="../../assets/fotifiz.png"
      style="width: 200px; margin-left: 30px"
    />
  </div>
<div >
  <ng-container *ngIf="roleType === 'Coach'">
  <ul>
    <li >
      <a
        
        routerLink="/homeCoach"
        
        >Statistics of Players</a
      ><img src="../../assets/bar-chart.png" style="width: 30px;margin-left: 10px;">
    </li>
    
    
    
    <li >
      <a
        
        routerLink="/homeCoach/Formation"
        *ngIf="roleType === 'Coach'"
        >Match</a
      ><img src="../../assets/football-pitch.png" style="width: 30px;margin-left: 10px;">
    </li>
    <li >
      <a
        
        routerLink="/homeCoach/Match"
        *ngIf="roleType === 'Coach'"
        >Formation </a
      ><img src="../../assets/ta.png" style="width: 30px;">
      
    </li>
    <li><a
      
      routerLink="/homeCoach/MlCoach"
      *ngIf="roleType == 'Coach'"
      >Ml Coach</a
    ></li>
  </ul>
  <!-- logout Coach -->
  <div style="margin-left: 20px;margin-top: 100px;">
    <li>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="user mt-2 d-flex align-items-center"
      >
        <img src="../../assets/user.jpg" alt="" class="user-image mr-1 p-2" />

        User
        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </li>
  </div>
  </ng-container>

<ng-container *ngIf="roleType === 'Directeur'">
  <ul>
    <li><a
      
      routerLink="/homeDirecteur"
      
      >Intern Coach</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/ExternalCoach"
      *ngIf="roleType === 'Directeur'"
      >External Coach</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/SumOfExternalPlayer"
      *ngIf="roleType === 'Directeur'"
      >Value OF Top 10 Players</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/ValueOfMyPlayer"
      *ngIf="roleType === 'Directeur'"
      >Value of my player</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/ValueOfExtrernalPlayer"
      *ngIf="roleType === 'Directeur'"
      >Value of External player</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/MlDirecteur"
      *ngIf="roleType == 'Directeur'"
      >Ml Directeur</a
    ></li>
    </ul>

    <!-- logout for director -->
    <div style="margin-left: 20px;margin-top: -20px;">
      <li>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          class="user mt-2 d-flex align-items-center"
        >
          <img src="../../assets/user.jpg" alt="" class="user-image mr-1 p-2" />
  
          User
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </div>
  </ng-container>
<ng-container *ngIf="roleType === 'StaffMedical'">
<ul>

    <li style="display: inline;">
      
      <a routerLink="/homeMedical" 
        >Dashbord Medical</a
      >
    </li>
    <li >
      
      <a   
        routerLink="/homeMedical/MlMedical"
        *ngIf="roleType == 'StaffMedical'"
        >ML preparateur Medical</a
      >
    </li>
    
    </ul>
    <!-- logout for midecal -->
    <div style="margin-left: 20px;margin-top: 250px;">
      <li>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          class="user mt-2 d-flex align-items-center"
        >
          <img src="../../assets/user.jpg" alt="" class="user-image mr-1 p-2" />
  
          User
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </div>
  </ng-container>

  <ng-container *ngIf="roleType === 'StaffPhysique'">
  <ul>
    <li>
      <a routerLink="/homeprepphysique" 
        >Dashbord Fitness trainer</a
      >
    </li>
    <li>
      <a routerLink="/homeprepphysique/ExternalFitness" *ngIf="roleType === 'StaffPhysique'"
        >Dashbord External fitness</a
      >
    </li>
    
    <li>
      <a
        
        routerLink="/homeprepphysique/MlPrephysique"
        *ngIf="roleType == 'StaffPhysique'"
        >Ml Preparateur physique</a
      >
    </li>
  </ul>
  <!-- logout staff physique -->
  <div style="margin-left: 20px;margin-top: 170px;">
    <li>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="user mt-2 d-flex align-items-center"
      >
        <img src="../../assets/user.jpg" alt="" class="user-image mr-1 p-2" />

        User
        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </li>
  </div>
  </ng-container>
    
    
  
  

</div>

  
</nav>

<!-- main article -->
<article style="width: 120vw; height: 100vh; margin-left: -130px; padding: 0">
  <router-outlet></router-outlet>
</article>
