<!-- menu -->
<nav>
  <div style="position: absolute; right: 0;padding-top: 48px;">
    <img src="../../assets/side-menu.png" style="width: 50px;position: absolute;">
  </div>
  <div>
    <img
      src="../../assets/fotifiz.png"
      style="width: 200px; margin-left: 30px"
    />
  </div>
<div >
  <ul>
    <li >
      <a
        
        routerLink="/homeCoach"
        *ngIf="roleType === 'Coach'"
        >Statistics of Players</a
      >
    </li>
    <li >
      <a
        
        routerLink="/homeCoach/Formation"
        *ngIf="roleType === 'Coach'"
        >Match</a
      >
    </li>
    <li >
      <a
        
        routerLink="/homeCoach/Match"
        *ngIf="roleType === 'Coach'"
        >Formation </a
      >
    </li>
    <li><a
      
      routerLink="/homeDirecteur"
      *ngIf="roleType === 'Directeur'"
      >Intern Coach</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/ExternalCoach"
      *ngIf="roleType === 'Directeur'"
      >External Coach</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/SumOfExternalPlayer"
      *ngIf="roleType === 'Directeur'"
      >Sum OF Top 10 Players</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/ValueOfMyPlayer"
      *ngIf="roleType === 'Directeur'"
      >Value of my player</a
    ></li>
    <li><a
      
      routerLink="/homeDirecteur/ValueOfExtrernalPlayer"
      *ngIf="roleType === 'Directeur'"
      >Value of External player</a
    ></li>




    <li style="display: inline;">
      
      <a routerLink="/homeMedical" *ngIf="roleType === 'StaffMedical'"
        >Dashbord Medical</a
      >

      <!-- <mat-icon>dashboard </mat-icon> -->
    </li>
    <li>
      <a routerLink="/homeprepphysique" *ngIf="roleType === 'StaffPhysique'"
        >Dashbord Fitness trainer</a
      >
    </li>
    <li>
      <a routerLink="/homeprepphysique/ExternalFitness" *ngIf="roleType === 'StaffPhysique'"
        >Dashbord External fitness</a
      >
    </li>

    <a
      
      routerLink="/homeCoach/MlCoach"
      *ngIf="roleType == 'Coach'"
      >Ml Coach</a
    >
    <a
      
      routerLink="/homeDirecteur/MlDirecteur"
      *ngIf="roleType == 'Directeur'"
      >Ml Directeur</a
    >
    <li style="display: inline; position: relative; margin-top: auto;">
      
      <a   
        routerLink="/homeMedical/MlMedical"
        *ngIf="roleType == 'StaffMedical'"
        >ML preparateur Medical</a
      >
    </li>
    <li>
    <a
      
      routerLink="/homeprepphysique/MlPrephysique"
      *ngIf="roleType == 'StaffPhysique'"
      >Ml Preparateur physique</a
    >
  </li>
  
  </ul>

</div>

  <div style="margin-left: 20px;margin-top: 60px;">
    <li>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="user mt-2 d-flex align-items-center"
      >
        <img src="../../assets/user.jpg" alt="" class="user-image mr-1 p-2" />

        User
        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </li>
  </div>
</nav>

<!-- main article -->
<article style="width: 120vw; height: 100vh; margin-left: -130px; padding: 0">
  <router-outlet></router-outlet>
</article>
