<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <iframe title="Pi-Final" width="1300" height="500" src="https://app.powerbi.com/reportEmbed?reportId=d00af124-5e26-4851-9ec2-e43012b229a6&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>      </div>
      </div>
    </div>
