<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <iframe title="staffMedical" width="1300" height="500" src="https://app.powerbi.com/reportEmbed?reportId=d54eed53-41bc-436c-9be3-18094e8e4cd9&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>      </div>
    </div>
  </div>